PORT=0000
DATABASE_URL="postgres://username:password@host:0000/db_name?schema=public"
JWT_EMAIL_VERIFICATION_SECRET=!secretKeyForEmailVerificationTokens
JWT_ACCESS_SECRET=!secretKeyForAcessTokens
JWT_REFRESH_SECRET=!secretKeyForRefreshTokens
GMAIL_APP_PASSWORD=password from gmail app passwords
GMAIL_MAIL=example@gmail.com